{
  "parser": "@babel/eslint-parser",
  "extends": "airbnb",
  "plugins": ["react", "jsx-a11y", "import"],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-unused-vars": "off",
    "react/react-in-jsx-scope": "off",
  },
}
